.lang
    for subLocale in locales
        if getLocale() == subLocale.id
            if !hideSelectedLanguage
                span.selected=subLocale.name||subLocale.id
        else
            a(href=getLocalePath(subLocale.id))=subLocale.name